<title>Index</title>
 <main class="content">
  <H1 id="center" class="title"><strong>Index</strong></H1>
<div>
  <div id="button" class="next-to post"><a href="/customers">Customers</a></div>
  <div id="button" class="next-to post"><a href="/merchandise">Merchandise</a></div>
  <div id="button" class="next-to post"><a href="/transactions">Transactions</a></div>
  <div id="button" class="next-to post"><a href="/favorites">Favorites</a></div>
  <div id="button" class="next-to post"><a href="/transactionDetails">Trans. Details</a></div>
</div>