<!doctype html>
<html>
<head>
  
  <meta charset="utf-8">
  <link href="/style.css" rel="stylesheet"/>
  <script src="/index.js" charset="utf-8" defer></script>
  {{!-- <script src="/cardTemplate.js" charset="utf-8" defer></script> --}}

  {{!-- <title>Browsing Customers</title> --}}
</head>

<body class="outer-box">
   {{{body}}}
</body>
</html>